<div class="md:pl-4">
  <app-sidebar-item title="Home" routerLink="/">
    <app-home-icon></app-home-icon>
  </app-sidebar-item>

  <app-sidebar-item title="Status" routerLink="/admin/status">
    <app-status-icon></app-status-icon>
  </app-sidebar-item>

  <app-sidebar-item title="Archives" routerLink="/admin/archives">
    <app-archive-icon></app-archive-icon>
  </app-sidebar-item>

  <app-sidebar-item title="Credits" routerLink="/admin/credits">
    <app-credit-icon></app-credit-icon>
  </app-sidebar-item>

  <app-sidebar-item title="Settings" routerLink="/admin/settings">
    <app-settings-icon></app-settings-icon>
  </app-sidebar-item>

  <app-sidebar-item title="Documentation" routerLink="/admin/documentation">
    <app-doc-icon></app-doc-icon>
  </app-sidebar-item>
</div>
