<div class="container">
    <a routerLinkActive="active" 
       routerLink="/propertyBanding">PropertyBanding</a> |

    <a routerLinkActive="active" 
       routerLink="/eventBinding">EventBinding</a> | 

    <a routerLinkActive="active" 
      routerLink="/attributeBinding">AttributeBinding</a> |

    <a routerLinkActive="active" 
      routerLink="/decoratorInput">DecoratorInput</a> |  
    
    <a routerLinkActive="active" 
      routerLink="/decoratorOutput">DecoratorOutput</a>   
      
    <router-outlet></router-outlet>
</div>
